* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  background-color: black;
  background-position: center;
  background-size: cover;
}

#menu {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#menu h3 {
  padding-bottom: 50px;
}

p {
  font-size: 2em;
  color: antiquewhite;
  text-align: center;
}

#xs, #os {
  font-size: 3em;
  display: inline-block;
  transition: all .2s linear;
}

#xs:hover, #os:hover {
  transform: translateY(-3px);
  cursor: pointer;
  text-shadow: 2px 2px black;
}

#xs {
  color: turquoise;
}

#os {
  color: orange;
}

#whosTurn {
  font-size: 1.5em;
}

#menuTitle {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 5em;
}

@keyframes bounce {
  from {
    top: 10px;
  }
  to {
    top: 0;
  }
}

#menuTitle>span {
  position: relative;
  font-size: 2.5em;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#gameBoard {
  display: none;
  width:307px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gameBoard tr, td{
  padding: 50px;
  background-color: green;
}

td p{
  position: absolute;
  font-size: 2em;
}

#cellContainer {
  width: 300px;
  height: 300px;
}

.cell {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border-color: beige;
  border-style: solid;
  box-sizing: border-box;
}

.cell > span{
  display: inline-block;
  font-size: 10em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 30px;
}

.cell:nth-child(1) {
  top: 50px;
  left: 0px;
  border-width: 0 1px 1px 0;
}
.cell:nth-child(2) {
  top: 50px;
  left: 100px;
  border-width: 0 1px 1px 1px;
}
.cell:nth-child(3) {
  top: 50px;
  left: 200px;
  border-width: 0 0 1px 1px;
}
.cell:nth-child(4) {
  top: 150px;
  left: 0px;
  border-width: 1px 1px 1px 0;
}
.cell:nth-child(5) {
  top: 150px;
  left: 100px;
  border-width: 1px;
}
.cell:nth-child(6) {
  top: 150px;
  left: 200px;
  border-width: 1px 0 1px 1px;
}
.cell:nth-child(7) {
  top: 250px;
  left: 0px;
  border-width: 1px 1px 0 0;
}
.cell:nth-child(8) {
  top: 250px;
  left: 100px;
  border-width: 1px 1px 0 1px;
}
.cell:nth-child(9) {
  top: 250px;
  left: 200px;
  border-width: 1px 0 0 1px;
}

/* mobile devices */
@media screen and (max-width: 500px) {

  #menu {
    width: 300px;
  }

  #menuTitle {
	width: 100%;
    text-align: center;
  }

  #menuTitle>span {
  font-size: 1.5em;
}
}
